
	 @font-face {
    font-family: 'caviar_dreamsitalic';
    src: url('polices/CaviarDreams_Italic-webfont.eot');
    src: url('polices/CaviarDreams_Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/CaviarDreams_Italic-webfont.woff') format('woff'),
         url('polices/CaviarDreams_Italic-webfont.ttf') format('truetype'),
         url('polices/CaviarDreams_Italic-webfont.svg#caviar_dreamsitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('polices/Caviar_Dreams_Bold-webfont.eot');
    src: url('polices/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('polices/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('polices/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsregular';
    src: url('polices/CaviarDreams-webfont.eot');
    src: url('polices/CaviarDreams-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/CaviarDreams-webfont.woff') format('woff'),
         url('polices/CaviarDreams-webfont.ttf') format('truetype'),
         url('polices/CaviarDreams-webfont.svg#caviar_dreamsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caviar_dreamsbold_italic';
    src: url('polices/CaviarDreams_BoldItalic-webfont.eot');
    src: url('polices/CaviarDreams_BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('polices/CaviarDreams_BoldItalic-webfont.woff') format('woff'),
         url('polices/CaviarDreams_BoldItalic-webfont.ttf') format('truetype'),
         url('polices/CaviarDreams_BoldItalic-webfont.svg#caviar_dreamsbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}



body {
	font-family:'caviar_dreamsregular', 'Century Gothic';
	color:black;
	font-size: 1em;
}

.bloc-page { 
	width: 90%;
	margin:auto;
 }

/**Header**/

header{
	background-color : rgb(15,5,107);
	color:white;
	text-align: center;	
}

header h1{
	border:none;
}

.titre-infos {
	text-align: right;
	display: inline-block;
	vertical-align: top;
}



/**navigation**/

nav {
	display: block;
	text-align: top;
	font-weight: bold;
	}

nav a /**liens nons survolés**/ {
	color:white;
	text-decoration:none;
	border:4px solid #6f87ff;
	padding:8px;
}

nav a:hover /**liens survolés**/ {
	color:#6f87ff;
	font-weight: bold;
	text-decoration: underline;
}


.nav-ul {
	list-style-type: none;
}

.nav-li {
	display: inline-block;
	margin-right:15px;
}



/**body**/


main h1  {
	font-size:1.5em;
	font-family:'caviar_dreamsbold';
	text-align: center;
	background-color: #7990ff;
	border:4px solid #0f056b;
	color:#0f056b;
	width:70%;
	margin:auto;
}

.puce-mkt {
	list-style: url('images/puce2.png') outside;
}

main h2 {
	text-decoration:underline;
	color:#788efe;
	text-align:center;
}

.sous-rubrique-competences {
	display: inline-block;
}
.marketing, .communication {
	text-align: justify;
	width:500px;
	border:4px solid #788efe;
	display:inline-block;
	border-radius: 10px;
	vertical-align: top;
	padding-right:10px;
	padding-left: :10px;
	padding-top: 0px;
	margin:auto;
	margin-top:40px;
	margin-bottom: 40px;
}

.formation, .commercial {
	text-align: justify;
	width:500px;
	border:4px solid #788efe;
	display:inline-block;
	border-radius: 10px;
	vertical-align: top;
	padding-right:10px;
	padding-left: :10px;
	padding-top: 0px;
	margin:auto;
	margin-top:40px;
	margin-bottom: 40px;
}

/**section expérience**/

.desc-miss {
	list-style-image: url('images/puce4.png');
}

.date {
	border-bottom:2px solid #788efe;
	padding-bottom:0px;
	font-family:'caviar_dreamsitalic';
	color:#788efe;
}

.mission {
	font-family:'caviar_dreamsbold';
	color:#0f056b;
}

.exp {
	list-style:none;
	padding:0px;
}

.sous-rubrique-experiences {
	text-align: justify;
	width:70%;
	margin:auto;
}

.desc-exp {
	text-align:center;
}

.sous-rubrique-sco { 
	text-align: justify;
	width:70%;
	margin:auto;
 }

 .sous-rubrique-sco a:visited {
 	color:#0f056b;
 }

 .sous-rubrique-sco a:hover /**liens survolés**/ {
	color:#6f87ff;
	font-weight: bold;
	text-decoration: underline;
}

.ul-sco {
	list-style:none;
}

.langue{
	list-style-image: url('images/logogb.png');
}

.office {
	list-style-image: url('images/office.png');
}

.html {
	list-style-image: url('images/html.png');
}

.sous-rubrique-langues, .sous-rubrique-loisirs {
	text-align: center;
	width:70%;
	margin:auto;
 }
 
 .music {
 	list-style-image: url('images/head.png')
 }

.lecture {
	list-style-image: url('images/book.png');
}

.cine {
	list-style-image: url('images/cine.png');
}



audio {
	width:20%;
}

figure,  {
	display: inline-block;
	margin: auto;
}